/* style.css */

.panorama {
  margin: 0 auto;
  cursor: all-scroll;

  width: 60%;
  height: 0;
  padding-bottom: 30%;

  background-image: url(../images/panorama-melbourne-CBD-southbank-yarra-river.jpg);
  background-size: cover;
  background-position: 50% 0;

  transition: background-position 1s linear;
}

.description {
  width: 60%;
  margin: 10px auto;
}
